html, body
{
  background-color: #990033;
  color: #ffd3d3;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

footer
{
  padding: 20px;
  text-align: center;
}

a, a:hover, a:focus, a:visited
{
  color: white;
}

.logo {
  width: 23px;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}
